@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1);
    justify-items: center;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    border-bottom: 2px dotted #E6E6E6;
}

.category__title {
    margin-left: -20px;
    flex-basis: 100%;
}

.category__box {
    flex: 1;
    min-width: 180px;
    max-width: 250px;
    padding: 20px;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.category__image {
    text-align: center;
}

.category__image img {
    aspect-ratio: 1;
    width: 60px;
}

.category__box,
.category__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category__name,
.category__price {
    text-wrap: nowrap;
}

.category__name > span,
.category__price > span {
    font-weight: bold;
}